@import url('globle.css');
@import url('header.css');
@import url('slider.css');
@import url('main.css');
@import url('footer.css');
@import url('copyright.css');

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.color-1 {
    color: #c2c2c2;
}

.color-2 {
    color: #a59477;
}

.color-3 {
    color: #a57780;
}

.color-4 {
    color: #767676;
}

.color-5 {
    color: #efefef;
}

.color-6 {
    color: #b4b4b4;
}

p {
    line-height: 30px;
}